div{
margin: 20px;
 padding: 50px;
 background: bisque;
 display: flex ;
 justify-content: center;
 align-items: center; 
} 
#emailHelp {
    font-size: 12px;  
margin-left: 20px;
   
} 
button { 
    color: rgb(0, 0, 0); 
background-color: blanchedalmond;
} 
